<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Tech Blog</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in site.posts limit: 6 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include post-card.html %}
    </div>
  {% endfor %}
</div>
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="VERTICAL" data-vanity="mayankgoyal1994" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/mayankgoyal1994?trk=profile-badge"></a></div>
              
